html,
body,
#root,
.main {
  height: 100%;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(219, 219, 219);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 153, 153);
}
